<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Haskell</string>
	<key>LoadArgument</key>
	<string></string>
	<key>FileTypes</key>
	<array>
		<string>hs</string>
		<string>lhs</string>
		<string>o</string>
		<string>so</string>
	</array>
	<key>KnownPaths</key>
	<array>
		<string>/usr/local/bin/ghci</string>
		<string>/usr/bin/ghci</string>
		<string>~/Library/Haskell/bin/ghci</string>
	</array>
</dict>
</plist>
